<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <nav>
        <a href="home">HOME</a>
        <a href="/nifty">NIFTY</a>
        <a href="/banknifty">BANKNIFTY</a>
        <a href="/finnifty">FINNIFTY</a>
        <a href="/usdinr">USDINR</a>
        <a href="/crudeoil">CRUDEOIL</a>
        <a href="/naturalgas">NATURALGAS</a>
        <a href="/pwi">PWI</a>
        <a href="/get_input">Get Input</a>
        <a href="/stocks">Stocks</a>
    </nav> 

    
      {% block content %}{% endblock %}
           
</body>
</html>